/* a/**
 * Mayflower Theme for reveal.jsssssssssssssssssss
 * Author: Maximilian Berghoff
 */
@import url(https://fonts.google.com/specimen/Source+Sans+Pro);
/*********************************************
  * GLOBAL STYLES
  *********************************************/
body {
  background: #ffffff;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: bolder; }

.reveal {
  color: #707372; }

::selection {
  color: #fff;
  background: #e35205;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #e35205;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
  * HEADERS
  *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #707372;
  font-family: "League Gothic", Impact, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3.77rem; }

.reveal h2 {
  font-size: 2.11rem; }

.reveal h3 {
  font-size: 1.55rem; }

.reveal h4 {
  font-size: 1rem;
  text-transform: initial; }

.reveal h1 {
  text-shadow: none; }

/**********************************************/
* OTHER
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc;
  font-size: 2rem; }

.reveal li {
  font-size: 2rem; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  font-size: 2rem;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  font-size: 2rem;
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-size: 2rem;
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
  * LINKS
  *********************************************/
.reveal a {
  color: #e35205;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #fb8d53;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #983703; }

/*********************************************
  * IMAGES
  *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #707372;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #e35205;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
  * NAVIGATION CONTROLS
  *********************************************/
.reveal .controls {
  color: #e35205; }

/*********************************************
  * PROGRESS BAR
  *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #e35205; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.reveal .slide-background, .reveal .backgrounds {
  background-image: url("../../docs/images/wallpaper_orange.png"), url("../../docs/images/mayflower_logo.png");
  background-position: center top, left bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: auto; }

.slides table th {
  font-size: 1.25rem; }

.slides table td {
  font-size: 1.00rem; }

.slides table td span img {
  max-height: 200px; }

mark {
  background: none;
  color: #e35205; }

.reveal pre {
  margin: 20px auto;
  width: 80%;
  font-size: 1rem; }
